* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: black;
    color: rgb(80, 236, 80);
    line-height: 1.6;
    font-size: 16px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

ul {
    list-style: none;
    margin-top: 20px;
    font-size: 1.1em;
}

ul li {
    margin: 10px 0;
}

header p {
    color: rgb(80, 236, 80);
}

h2 {
    font-size: 1.8em;
    text-decoration: underline;
    animation: brokenNeon 6s infinite;
    margin-top: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.4em;
}

h2, p, a {
    color: lightgreen;

}

p {
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-shadow: 0 0 2px #00ff00, 0 0 4px #00ff00, 0 0 4px #00ff00;
}

footer {
    text-align: center;
    margin-bottom: 40px;
}

footer h3 {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    body {
        line-height: 1.6;
        font-size: 16px;
    }
}

@keyframes brokenNeon {
    0%, 25% {
        text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00;
        opacity: 1;
    }
    10%, 22%, 30%, 45%, 55%, 70% {
        text-shadow: none;
        opacity: 0.2;
    }
    35%, 50%, 65%, 85% {
        text-shadow: 0 0 2px #00ff00, 0 0 5px #00ff00, 0 0 10px #00ff00;
        opacity: 0.8;
    }
    90%, 100% {
        text-shadow: none;
        opacity: 0;
    }
}
