body {
    background: #111;
    color: #2ad32a;
    font-family: 'Fira Mono', 'Consolas', monospace;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

#terminal-container {
  height: 100dvh;
  scroll-behavior: smooth;
  overflow-y: auto;
  background-color: #111;
  color: #0f0;
  font-family: monospace;
  padding: 1em;
}

.cursor {
  animation: blink 1s step-start infinite;
}

header {
    margin-top: 2em;
    margin-bottom: 2em;
}

h3, h4 {
    color: #00ff99;
    margin: 0px;
    padding: 0px;
}

a {
    color: #33ff33;
    text-decoration: underline;
    transition: color 0.2s;
}

a:hover {
    color: #00ff99;
    text-shadow: 0 0 5px #33ff33;
}

ul {
    list-style-type: ">";
    padding-left: 1.2em;
}

ul li {
    margin: 1em 0;
}

section {
    margin-top: 4em;
    padding-top: 3em;
    border-top: 1px solid #00ff99;
}

article {
    margin-top: 0;
    padding-top: 2em;
    padding-bottom: 1em;
    border-top: 1px solid #00ff99;
}

footer {
    margin-top: 4em;
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 1px solid #00ff99;
    font-size: 1em;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

@media (max-width: 600px) {
    .terminal-container {
        padding: 12px;
        max-width: 98vw;
    }

    section, footer {
        font-size: 0.98em;
    }

    ul {
        padding-left: 0.8em;
    }
}
